
body {
  height: 600px;
  margin: 0px;
  background: -webkit-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
  background-size: 10px 10px, 10px 10px, 100% 100%;
  background-repeat: repeat, repeat, no-repeat;
  background-position: 1px 1px, 0px 0px, center center;
  font-family: "helvetica neue"
}

h1 {
  font-size: 1.5em;
  margin: 0px;
  color: #222277;
}

a {
  text-decoration: none;
  color: white;
}

table {
  border-spacing: 0px;
  th {
    color: #222277;
  }
  th, td {
    padding: 0.2em;
  }
}

#navigation {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0.5em;
  background-color: #222277;
  border-radius: 0px 0px 10px 0px;
  a {
    padding: 0.5em;
    text-align: center;
    vertical-align: middle;
  }
}

#content {
  position: absolute;
  top: 40px;
  left: 0px;
  padding: 0.5em;
}
